# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/
.vs/
.idea/
*.sln
*.xcodeproj
*.xcworkspace

# Build artifacts
Build/*/FileOpenOrder/
Build/
Plugins/
Platforms/
# Logs, temp
*.log
*.tmp

# OS
.DS_Store
Thumbs.db

# Ton dossier de build spécifique
HeistDay_Build/

# Fichiers de projet utilisateur
*.uproject.user
